
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

/* fonts downloaded from www.1001freefonts.com/‎*/
@font-face {
	font-family: 'coolvetica';
    src: url('../fonts/coolvetica/tt/coolvetica rg.ttf') format('truetype');

}

@font-face {
	font-family: 'ActionIs';
	src: url('../fonts/ActionIs/ActionIs.ttf') format('truetype');
}

@font-face {
	font-family: 'ACUTATR';
    src: url('../fonts/ACutAboveTheRest/ACUTATR_.TTF') format('truetype');

}

@font-face {
	font-family: 'JudasPriest';
	src: url('../fonts/JudasPriest.ttf') format('truetype');
}

* {
	font-family: Arial, sans-serif;
}

#logo {
	display: inline-block;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 625px;
	height: 25px;
	text-indent: -9999px;
	background: url('../images/logo.png') no-repeat;
	overflow: hidden; 
	white-space: nowrap;
}

#register {
	display: inline-block;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 2;
	margin-top: 10px;
}

#searchbox {
	display: inline-block;
	float: left;
	margin: 12px;
	padding: 0;
	
	}

#gobutton {
	width: 5%;
	height: 20px;
	border-radius: 5px;
	float: left;
	background-color: #0B2735;
	font-size: 10px;
	color: #ffffff;
	margin-top: 12px;
}


.banner {

	position: absolute;
	overflow: auto;
	

	
}

.banner li {
	list-style-type: none;
	margin-top: 0;
}

.banner ul li {
	float: left;
}


 li#bannerli1, li#bannerli2, li#bannerli3, li#bannerli4 {
    
	height: 330px; 
	width: 320px;
	


}

.banner ul li#bannerli1 {

	background: url('../images/cms.png'); 
	background-position: center;
    background-repeat: no-repeat; 
    

}

.banner ul li#bannerli2 {

background-image: url('../images/x-platform.png');
background-repeat: no-repeat; 
background-position: center;
}



.banner ul li#bannerli3 {

background:url('../images/social-network.png');
background-position: center;
background-repeat: no-repeat; 
}

.banner ul li#bannerli4 {

position: center;

}

.banner ol {

	display: block;
	margin-left: 45%;
	

	
}
/* banner images styling -----------*/
#main-topic1 {
	
	font-family: 'ActionIs';
	font-size: 50px;
	color: black;
	margin-left: 300px;
	float: left;
	display: inline-block;
	clear: right;
	color: #ffffff;
	margin-top: 30px;
	

}
#main-topic {
	
	font-family: 'ACUTATR';
	font-size: 48px;
	margin-top: 69px;
	float: left;
	margin-left:600px;
	color: #ffffff;
	

}

#bannerlitext1 {
	color: #ffcc00;
	font-size: 35px;
	font-weight: bolder;
	margin-top: 130px;
    margin-left: 400px;

}


#bannerlitext2 {

	font-size: 50px;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 10px;
	
	
}

#bannerlitext2sub1 {

	font-size: 45px;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 300px;
	
	
}

#bannerlitext2sub2 {
	font-family: 'ACUTATR';
	font-size: 40px;
	color: #ffcc00;
	margin-top: 100px;
	margin-left: 750px;	
}

#bannerlitext3  {

	font-size: 50px;
	color:#ffcc00;
	margin-top: 200px;
	margin-left: 900px;
	
}


#bannerlitext4 {

    font-size: 40px;
	color:#ffffff;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-left: 25px;
}

iframe {

 	display: block;
    width: 350px;
    height: 250px;
    margin: 0 auto;
    border: 0;
    clear: right;
 }


#bannerlitext4sub1 {

	
	font-family: 'ACUTATR';
	font-size: 40px;
	color: #ffcc00;
	margin-top: -45px;
	margin-left: 800px;

}
/*-------end banner image styling */


/* ---------- banner dots ------------ */

.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		top: 310px;
	}


.banner .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
	}


.banner .dots li.active {
	background: #fff;
	opacity: 1;
	}
		

h2 {

	font-family: Arial;
	font-size: 18px;
	line-height: 2;
	color: #003366;
	font-weight: bold;

}


.featurelist {

	list-style-type: disc;
	margin-left: 10px;

	
}

.featurelistli {
	font-family: Arial;
	font-size: 12px;
	line-height: 2;
}

.featurelistli a {
	text-decoration: none;
	color: white;
}

.featurelistli a:hover {
	
	color: #DBA901;
}

h3 {
	font-size: 12px;
	font-family: Arial;
	line-height: 2;

}


/* text above mobile image animation ------------*/

h3#imgctrtext1, h3#imgctrtext2 {
	
	font-size: 19px;
	font-family: 'ACUTATR' !important;
	-webkit-animation-name: blinker;  
  	-webkit-animation-iteration-count: infinite;  
  	-webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  	-webkit-animation-duration: 1.7s; 
  	}

@-webkit-keyframes blinker {  
  	from { opacity: 1.0; color: #0B3B2E}
  	to { opacity: 0.0; color: #21610B}
}

/* text above mobile image animation ------------*/

#mobilectrimg {
	margin-top: 13px;
	margin-bottom: 8px;
}
h3#imgctrtext1 {

	margin-left: 20px;
	line-height: 1.5;
}

h3#imgctrtext2 {

	margin-left: 45px

}


/*span5 degreebox */
#degreebox {
	background-color: #A4A4A4;
	border: 2px solid #A4A4A4;
	border-radius: 5px;
	
}
#completeview {
	display: block;
	margin: auto;
	position: relative;
  	
}


#degreetext {
	margin-left: 10px;
	font-family: Arial;
	font-size: 15px;
	color: #0B2161;
	font-weight: bolder;

} 
/*span5 degreebox end */

#locations {
	margin-left: 100px;
}


#footerlocationul {

	list-style-type: none;
	display: inline-block;
	position: absolute;
	margin-top: 10px;
}

#footerlocationul .locationli:first-child {
margin-left: 0;
}

#footerlocationul .locationli {
	float: left;
	margin-left: 10px;
	font-family: Arial;
	font-size: 11px;
}

.footertext p {
	margin-top: 10px;
	font-family: Arial;
	font-size: 11px;
	line-height: 1.5;
}



#copyline {

	font-family: Arial, sans-serif;
	font-size: 11px;
	padding-top: 20px;
   margin-left: 200px;
}


